<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    tools:ignore="GoogleAppIndexingWarning">

    <activity
      android:name="com.chimbori.liteappstarter.LiteAppStarterActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:resizeableActivity="true"
      android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name="com.chimbori.liteappstarter.InstallActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:resizeableActivity="true"
      android:theme="@android:style/Theme.Material.Dialog.NoActionBar.MinWidth"/>

  </application>

</manifest>
